body{
  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
 

}

/*header style*/
.header {
    background-color: rgb(253, 233, 237);
    
   
}

.banner {
    padding: 30px 130px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn-primary {
    border-radius: 5px;
    background: rgb(236, 101, 124);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* main section styles */
main {
    max-width: 100%;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.feature {
    margin: 30px 130px 0px 130px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    
   
}

.feature-info-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.feature-info {
    text-align: center;
}
.feature-img{
    
  border-radius: 100% 100% 0px 0px ;
  width: 300px;


}
.feature-img img{
    padding-top:15px ;
    height: 250px;
}
.info-description{
     text-decoration: underline;
}

/*about section*/
.about {
    margin: 30px 130px 0px 130px;
    padding: 0px 0px 0px 10px;
    background-color: rgb(250, 235, 215);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
   
}

/*order*/
.order-section{
    margin: 30px 130px 0px 130px;
    text-align: center;

}
.order-img{
    display: flex;

    justify-content: space-between;
}
.order-info{
    width: 24%;
}

.order-details{
    display: flex;
    text-align: center;
    padding: px;
    margin-top: 15px;
}


 /*signup section*/
.signup-section {
    
    background-color: rgb(253, 233, 237);
    
   
}

.signup {
    padding: 30px 130px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.signup-content {
    max-width: 500px;
}

.signup .profile-pic {
    width: 400px;
}



.signup-title {
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*instagram section */
.instagram-section {
    margin: 30px 130px 0px 130px;
    text-align: center;
   
    
   
}

.instagram-img {
    display: flex;
   
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}
.instagram-img img{
    width: 24%;
    ;
}

/*subscribe-section*/
.subscribe-section {
    background-image: url('./Rectangle\ 9.png');
    margin: 30px 130px 0px 130px;
    text-align: center;
    padding: 20px;
    
   
    
   
}
.subscribe-email  {
    display: flex;
   justify-content: center;
   padding-bottom: 40px;

    border-radius: 5px;
 
}
.subscribe input[type="submit"], .subscribe input[type="email"],
textarea {
    
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    
}

/*footer*/
.footer{
    padding: 40px 300px;
    margin-top: 20px;
    text-align: center;
    color: #FFF;
    background-color: black;


}


