body{
  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
 

}

/*header style*/
.header {
    background-color: rgb(253, 233, 237);
    
   
}

.banner {
    padding: 30px 130px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn-primary {
    border-radius: 5px;
    background: rgb(236, 101, 124);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* main section styles */
main {
    max-width: 1000px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.feature {
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    
   
}

.feature-info-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.feature-info {
    text-align: center;
}
.feature-img{
    
  border-radius: 100% 100% 0px 0px ;
  width: 300px;


}
.feature-img img{
    padding-top:15px ;
    height: 250px;
}
.info-description{
     text-decoration: underline;
}

/*about section*/
.about {
    padding: 0px 0px 0px 10px;
    background-color: rgb(250, 235, 215);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
   
}

.feature-info-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.feature-info {
    
}
.feature-img{
    
  border-radius: 100% 100% 0px 0px ;
  width: 300px;


}
.feature-img img{
    padding-top:15px ;
    height: 250px;
}
.info-description{
     text-decoration: underline;
}